*

!.gitignore

!alacritty
!alacritty/*
!alacritty/**

!nvim
!nvim/*
!nvim/**

nvim/autoload/
nvim/autoload/*
nvim/autoload/**
nvim/plugged

!omf
!omf/*
!omf/**

!zsh
!zsh/*
!zsh/**

!fish
!fish/*
!fish/**

fish/fish_history
fish/fishd.dev70

!tmuxinator
!tmuxinator/*
!tmuxinator/**
