*

!.gitignore

!alacritty
!alacritty/*
!alacritty/**

!nvim
!nvim/*
!nvim/**

nvim/autoload/
nvim/autoload/*
nvim/autoload/**

!zsh
!zsh/*
!zsh/**

!fish
!fish/*
!fish/**

!tmuxinator
!tmuxinator/*
!tmuxinator/**
